{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-3">Inscription</h1>
            <form action="#" class="col-xl-6 col-md-10 col-12 mx-auto" method="POST">
                <div class="form-row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="name" class="input-group-text">Nom</label>
                        </div>
                        <input type="text" name="name" placeholder="Nom" id="name" class="form-control" value="{{ request.post('name')|default('') }}" required>
                        {% if form.hasError('name') %}
                            <div class="form-errors">
                                <span class="badge badge-danger">{{ form.errors('name') }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="first_name" class="input-group-text">Prénom</label>
                        </div>
                        <input type="text" name="first_name" placeholder="Prénom" id="first_name" class="form-control" value="{{ request.post('first_name')|default('') }}" required>
                        {% if form.hasError('first_name') %}
                            <div class="form-errors">
                                <span class="badge badge-danger">{{ form.errors('first_name') }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="email" class="input-group-text"><i class="fas fa-at"></i></label>
                        </div>
                        <input type="email" name="email" placeholder="Email" id="email" class="form-control" autocomplete="off" value="{{ request.post('email')|default('') }}" required>
                        {% if form.hasError('email') %}
                            <div class="form-errors">
                                <span class="badge badge-danger">{{ form.errors('email') }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="password" class="input-group-text">Mot de passe</label>
                        </div>
                        <input type="password" name="password" placeholder="Mot de passe" id="password" class="form-control" autocomplete="off" required>
                        {% if form.hasError('password') %}
                            <div class="form-errors">
                                <span class="badge badge-danger">{{ form.errors('password') }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="confirm_password" class="input-group-text">Confirmation</label>
                        </div>
                        <input type="password" name="confirm_password" placeholder="Confirmation" id="confirm_password" class="form-control" required>
                        {% if form.hasError('confirm_password') %}
                            <div class="form-errors">
                                <span class="badge badge-danger">{{ form.errors('confirm_password') }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="cgu" value="1" id="cgu" required
                                {% if request.hasPost('cgu') %}
                                    checked
                                {% endif %}
                                >
                            </div>
                        </div>
                        <label for="cgu" class="form-control">J'accepte les conditions générales d'utilisation</label>
                        {% if form.hasError('cgu') %}
                            <div class="form-errors">
                                <span class="badge badge-danger">{{ form.errors('cgu') }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-12 text-right">
                        <input type="submit" value="Valider" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}