{% extends "backend/base.html.twig" %}

{% block body %}
    <div class="row">
        {% include "backend/user/menu.html.twig" %}
        <div class="col-12 p-3">
            <h1>
                <i class="fas fa-user-circle mr-2"></i>
                Nouvel utilisateur
            </h1>
        </div>
        <form action="#" method="POST" class="col-8 p-3 mx-auto bg-secondary text-white">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="name">Nom</label>
                    <input type="text" name="name" placeholder="Nom" id="name" class="form-control" value="{{ request.post('name')|default('') }}">
                    {% if form.hasError('name') %}
                        <div class="form-errors">
                            <span class="badge badge-danger">{{ form.errors('name') }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group col-4">
                    <label for="first_name">Prénom</label>
                    <input type="text" name="first_name" placeholder="Prénom" id="first_name" class="form-control" value="{{ request.post('first_name')|default('') }}">
                    {% if form.hasError('first_name') %}
                        <div class="form-errors">
                            <span class="badge badge-danger">{{ form.errors('first_name') }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group col-4">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Email" id="email" class="form-control" autocomplete="off" value="{{ request.post('email')|default('') }}">
                    {% if form.hasError('email') %}
                        <div class="form-errors">
                            <span class="badge badge-danger">{{ form.errors('email') }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group col-4">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="Mot de passe" class="form-control" autocomplete="off">
                    {% if form.hasError('password') %}
                        <div class="form-errors">
                            <span class="badge badge-danger">{{ form.errors('password') }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group col-3">
                    <label>
                        Attribution des rôles
                        {% if form.hasError('role') %}
                            <div class="form-errors">
                                <span class="badge badge-danger">{{ form.errors('role') }}</span>
                            </div>
                        {% endif %}
                    </label>
                    {% if roles is not empty %}
                    {% for role in roles %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="role_{{ role.id }}" value="{{ role.id }}" id="role_{{ role.id }}" {{ request.hasPost('role_' ~ role.id ) ? 'checked' }}>
                            </div>
                        </div>
                        <label for="role_{{ role.id }}" class="form-control">{{ role.name }}</label>
                    </div>
                    {% endfor %}
                    {% else %}
                        <button class="btn btn-warning">Aucun rôle</button>
                    {% endif %}
                </div>
                <div class="form-group col-12 text-right">
                    <input type="submit" value="Créer" class="btn btn-success">
                </div>
        </form>
    </div>
{% endblock %}