{% extends "backend/base.html.twig" %}

{% block body %}
    <div class="row">
        {% include "backend/user/menu.html.twig" %}
        <div class="col-12 p-3">
            <h1>
                <i class="fas fa-user-circle mr-2"></i>
                {{ user.name ~ " " ~ user.firstName }}
            </h1>
        </div>
        <div class="col-3">
            <h2>Infos</h2>
            <ul class="list-group col-12 p-0">
                <li class="list-group-item" data-toggle="tooltip" title="Date de création">
                    <i class="fas fa-calendar-alt mr-2"></i>
                    {{ user.createdAt|date("d/m/y") }}
                </li>
                <li class="list-group-item" data-toggle="tooltip" title="Adresse email">
                    <i class="fas fa-at mr-2"></i>
                    {{ user.email }}
                </li>
            </ul>
            <h2>Rôles</h2>
            <ul class="list-group">
                {% for role in userRoles %}
                    <li class="list-group-item">
                        <i class="fas fa-user-tag mr-2"></i>
                        {{ role.role.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-9">
            <h2>Posts ({{ nb_posts }})</h2>
            {% if posts is not empty %}
                {% for post in posts %}
                    <div class="bg-secondary p-3">
                        <div class="row">
                            {% set class_row = "col-12" %}
                            {% if post.getFormat() == 1 %}
                                {% set class_row = "col-xl-6 col-lg-6 col-md-6 col-12" %}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <img src="/docs/img/{{ post.getImage() }}" alt="{{ post.getImageAlt() }}" class="img-fluid">
                                </div>
                            {% endif %}
                            <div class="{{ class_row }} bg-info p-3">
                                <h3>
                                    <a href="/post/view?id={{ post.getId() }}">
                                        {{ post.getTitle() }}
                                    </a>
                                </h3>
                                <p>
                                    {{ post.getChapo()|raw }}
                                </p>
                            </div>
                            <div class="col-12">
                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                    <a href="/admin/post/delete?id={{ post.getId() }}" class="btn btn-danger" data-toggle="tooltip" title="Supprimer ce post ?">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert">
                    <h5 class="alert-heading">Aucun post</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}