<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ title ?: 'Genarkys' }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Découvrez toutes les actualitées de Genarkys sur notre Blog !">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="shortcut icon" href="/public/img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/assets/css/sandstone.theme.min.css">
        <link rel="stylesheet" href="/public/assets/css/index.css">
        <link rel="stylesheet" href="/public/assets/css/frontend.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/public/assets/js/index.js"></script>
        <script src="/public/assets/js/notifications.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Genarkys</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-list" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% if app.authentification.isAuthentificated() %}
                        {% if app.authentification.hasRole('ROLE_SUPER_ADMIN') or app.authentification.hasRole('ROLE_ADMIN') or app.authentification.hasRole('ROLE_MODERATEUR') %}
                            <li class="nav-item">
                                <a href="/admin/" class="nav-link">Backend</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="/user/profil?id={{ app.user.id }}" class="nav-link {% if current == 'profil' %} active {% endif %}">Profil</a>
                        </li>
                        {% if current == 'profil' and app.user.id == user.id %}
                            <li class="nav-item">
                                <a href="/user/edit?id={{ app.user.id }}" class="nav-link">Modifier mes données</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Post
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="/post/list" class="dropdown-item">
                                    <i class="fas fa-stream mr-2"></i>
                                    Mes posts
                                </a>
                                <a href="/post/new" class="dropdown-item">
                                    <i class="fas fa-plus mr-2"></i>
                                    Nouveau
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/deconnect" class="nav-link">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/connect/">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register/" class="nav-link">Inscription</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="/post/" class="nav-link">Tous les posts</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        <footer class="bg-primary mt-2">
            <div class="row m-0">
                <div class="col-xl-6 col-sm-12 my-2">
                    <h2 class="text-white">Réseaux sociaux</h2>
                    <div class="social-link">
                        <a href="https://github.com/Goufoux" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-github fa-4x ico" data-toggle="tooltip" title="Découvrez mes projets sur Github"></i>
                        </a>
                        <a href="https://www.facebook.com/genarkyscompany/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook fa-4x ico ico-info" data-toggle="tooltip" title="Abonnez vous à ma page Facebook !"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/quentin-roussel-67b2a4109/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-linkedin-in fa-4x ico" data-toggle="tooltip" title="Mon profil Linkedin"></i>
                        </a>
                        <a href="http://blog-genarkys.fr/public/docs/cv.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-file-pdf fa-4x ico" data-toggle="tooltip" title="Mon CV"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-sm-12 my-2">
                    <h2 class="text-white">Contacter moi !</h2>
                    <form action="/contact" method="POST" id="contact">
                        <div class="form-row text-white">
                            <div class="input-group mb-3 col-xl-6 col-md-12">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="contact_name">Nom et prénom</label>
                                </div>
                                <input type="text" name="contact_name" id="contact_name" placeholder="Votre nom et/ou prénom" minlength="3" required class="form-control" value="{{ datas['contact_name']|default('') }}">
                                {% if form.errors('contact_name') is not empty %}
                                    <div class="form-errors">
                                        <span class="badge badge-danger">{{ form.errors('contact_name') }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-group mb-3  col-xl-6 col-md-12">
                                <div class="input-group-prepend">
                                    <label for="contact_email" class="input-group-text">Email</label>
                                </div>
                                <input type="email" name="contact_email" id="contact_email" placeholder="Votre adresse email" required class="form-control" value="{{ datas['contact_email']|default('') }}">
                                {% if form.errors('contact_email') is not empty %}
                                    <div class="form-errors">
                                        <span class="badge badge-danger">{{ form.errors('contact_email') }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3 col-12">
                                {% set textarea = datas['contact_message']|default('') %}
                                <label for="message">Message</label>
                                <textarea name="contact_message" placeholder="Votre message" minlength="15" required id="contact_message" class="form-control">{{ textarea }}</textarea>
                                {% if form.errors('contact_message') is not empty %}
                                    <div class="form-errors">
                                        <span class="badge badge-danger">{{ form.errors('contact_message') }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-12 text-right">
                                <input type="submit" value="Envoyer" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </footer>
        {% include "modules/notifications.html.twig" %}
    </body>
</html>